body{
  background:  #EAF6F6;
}

hr{
  border: none;
  border-top-style: dotted;
  border-top-color: #766161;
  background-color: #EAF6F6;
  border-width: 5px;
  width: 10%;

}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}
